@charset "utf-8";
/* CSS Document */
body{
	font-size:10px;
}
#header {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	background-image:url(../images/bg10.jpg);
	background-size: cover;
	/*padding-top: 5%;*/
	object-fit: cover;
	margin:auto;
	padding-top: 50vh;
	
}

#name-container {
	/* margin: auto; */
	text-align: center;
}

#coverPage {
	margin:auto;
}

.img-container {
	border-radius: 50%;
	max-width: 250px;
	min-width: 150px;
    /* margin-left: auto;
	margin-right: auto; */
	margin:auto;
	/*display: block;
	-webkit-animation-name: animateimg;*/
  	-webkit-animation-duration: 0.7s;
  	/*-webkit-transition-timing-function: ease-in;
  	animation-name: animateimg;*/
  	animation-duration: 0.7s;
  	/*transition-timing-function: ease-in;*/
}

.work-img-container {
	max-width: 100px;
	min-width: 100px;
	padding: 10px;
	margin:auto;
}

#fname-text {
	/*padding-top: 40px;*/
	display:inline-block;
	text-align:center;
	font-family: 'Lato Light', sans-serif;
	/*font-size: 60px;*/
	font-size: 60px;
	/* color: #f7f7f7; */
	/*color: #dbdbdb;*/
	color: #FFFFFF;
	/*margin:auto;*/
  	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

#lname-text {
	display:inline-block;
	/*margin-top: -20px;*/
	text-align:center;
	font-family: 'Lato Medium', sans-serif;
	/*font-size: 75px;*/
	/*font-size: 7.5rem;*/
	/* color: #dbdbdb; */
	color: #FFFFFF;
	font-size: 60px;
	/*color: #8cbcd0;*/
  	animation-duration: 0.9s;
	-webkit-animation-duration: 0.9s;
}

#post-text {
	/*padding-top: 20px;*/
	text-align:center;
	font-family: 'Lato Light', sans-serif;
	font-size: 22px;
	/* color: #f7f7f7; */
	/* color: #dbdbdb; */
	color: #FFFFFF;
	/*margin-left: auto;
	margin-right: auto;*/
	display: block;
	animation-duration: 1s
	padding-top:20px;
	-webkit-animation-duration: 1s;
}

.divider {
	/*width: 68.57%;*/
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	/*border-bottom: 2px solid #939393;*/
	border-bottom: 2px solid #f7f7f7;
	padding-top: 10px;
	margin-bottom:10px;
}

#aboutme {
	/*background-color: #f5f5f5;*/
	background-color: #23282A;
	/*width: 100%;
	max-width: 2500px;
	height: auto;*/
	background-size: cover;
	
}
#aboutContainer{
	-webkit-animation-name: animateAbout;
  	-webkit-animation-duration: 2s;
  	-webkit-transition-timing-function: ease-in;
  	animation-name: animateAbout;
  	animation-duration: 2s;
  	transition-timing-function: ease-in;
}
.text-container {
	width: 68.57%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

.title-text {
	padding-top:20px;
	text-align: left;
	font-family: 'Lato Light', sans-serif;
	font-size: 50px;
	/*font-size: 4.39vw;*/
	color: #8cbcd0;
	/*padding-bottom: 50px;*/
}

.link{
	color: #8cbcd0;
	text-decoration: none;
	display: inline-block;
}

.link:hover:after {
  width:100%;
}

.link:after {
  	content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #939393;
    transition: width .3s;
}

span.company-text {
	text-align: left;
	font-family: 'Lato', sans-serif;
	/*font-size: 60px;*/
	font-size: 30px;
	color: #64ba77;
	margin-bottom: 15px;
}

.position-text:hover, .company-address:hover {
	text-decoration: underline;
}

div.position-text {
	text-align: left;
	font-family: 'Lato Light', sans-serif;
	/*font-size: 60px;*/
	font-size: 18px;
	color: #f5f5f5;
	margin-bottom: 10px;
}

p.paragraph-text {
	font-family: 'Lato Light', sans-serif;
	font-size: 18px;
	color: #939393;
	text-align:justify;
	padding-top: 15px;
}

.company-address {
	font-family: 'Lato Light', sans-serif;
	font-size: 14px;
	color: #939393;
	text-align:justify;
	margin-top: 10px;
}

.company-desc {
	font-family: 'Lato Light', sans-serif;
	font-size: 14px;
	color: #939393;
	text-align:justify;
}

#skills {
	/*background-color: #ffffff;*/
	background-color: #f5f5f5;
	width: 100%;
	/*max-width: 2500px;*/
	height: auto;
	background-size: cover;
}

/*#skills-wrapper {
	width: 100%;
	padding-top: 50px;
	max-width: 2500px;
	height: auto;
}*/

#experience {
	background-color: #23282A;
	width: 100%;
	/*max-width: 2500px;*/
	height: auto;
	background-size: cover;
}

.content-text-bold {
	font-family: 'Lato Bold', sans-serif;
	font-size: 18px;
	color: #939393;
	text-align: left;
	padding-bottom: 10px;
}

#myProgress {
    width: 100%;
    background-color: #f5f5f5;
}
#myBar1, #myBar2, #myBar3, #myBar4, #myBar5, #myBar6, #myBar7, #myBar8, #myBar9, #myBar10, #myBar11, #myBar12, 
#myBar13, #myBar14, #myBar15, #myBar16 {
    width: 1%;
    height: 12px;
    background-color: #8cbcd0;
	text-align: center; /* To center it horizontally (if you want) */
    line-height: 12px; /* To center it vertically */
	font-family: 'Lato Light', sans-serif;
	font-size: 11px;
	color: white;
	margin-bottom: 20px;
}

.button {
    background-color: #8cbcd0;
    border: none;
	font-family: 'Lato Bold', sans-serif;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
	margin-bottom:20px;
}

.clear {
    clear: both;
}

.column {
    flex: 50%;
}

.exp-container{
	/*display:flex;*/
	background-color: #FFFFFF;
}

#latest {
	margin-top: 50px;
}

.columnleft {
    flex: 3%;
    vertical-align: center;
    /*padding: 10px;*/
    /*word-break:break-all;*/
}

.columnmid {
    /*flex: 30%;
    padding: 10px;*/
    word-break:break-all;
    margin:10px;
	/* vertical-align: center; */
    /*background-color:#05FFF0;*/
}

.columnright {
	background-color:#F5F5F5;
    /*flex: 67%;*/
    padding: 20px;
    word-break:break-all;
    border-radius: 20px;
    /*margin-top: 50px;*/
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #3bfc7f;
  border-radius: 50%;
  position:relative;
  margin:auto;
  z-index:2;
}

.educ {
	background-color: #e8554e;
}

.verticalLine {
  	width: 100%;
  	max-width: 5px;
  	background-color: #f5f5f5;
  	height: 100%;
  	margin: auto;
  	z-index:3;
	text-align:center;
}

#aboutTitle {
	opacity: 0;
	/* -webkit-animation-name: animateAboutTitle; */
  	-webkit-animation-duration: 0.7s;
  	/*-webkit-transition-timing-function: ease;*/
  	/* animation-name: animateAboutTitle; */
  	animation-duration: 0.7s;
  	/*transition-timing-function: ease;*/
  	/*margin-bottom: -30px;*/
}

#paragraphs, #paragraphs2 {
	opacity:0;
	/*-webkit-animation-name: animateParagraphs;*/
  	-webkit-animation-duration: 0.7s;
  	/* animation-name: animateParagraphs; */
  	animation-duration: 0.7s;
}

#expTitle {
	opacity: 0;
	/* -webkit-animation-name: animateExpTitle; */
  	-webkit-animation-duration: 0.7s;
  	/*-webkit-transition-timing-function: ease;*/
  	/* animation-name: animateExpTitle; */
  	-webkit-animation-duration: 0.7s;
  	/*transition-timing-function: ease;*/
}

#skillsTitle, #educationTitle {
	opacity: 0;
	/* -webkit-animation-name: animateSkillsTitle; */
  	-webkit-animation-duration: 0.7s;
  	/*-webkit-transition-timing-function: ease;*/
  	/* animation-name: animateSkillsTitle; */
  	animation-duration: 0.7s;
  	/*margin-bottom: -50px;*/
  	/*transition-timing-function: ease;*/
}

.pop {
	-webkit-animation: scale 0.7s ease-out;
}

.work-date {
	margin:auto;
	width: 40%;
	background-color:#43ad66;
	text-align: center;
	height: auto;
/* 	padding-top: 25px; */
}

.date-title {
	font-family: 'Lato Light', sans-serif;
	font-weight:bold;
	font-size: 14px;
	color: #F5F5F5;
	text-align:center;
	margin:auto;
    vertical-align: middle;
}

.work-exp {
	background-color:#43ad66;
}

.work {
	margin: 20px;
}
	

.work-position{
	width: 60%;
	border-width: 2px;
	border-bottom-width:2px;
	border-bottom-color:#43ad66;
	border-bottom-style: solid;
	text-align: left;
	padding: 5px;
}

.position-title {
	font-family: 'Lato Light', sans-serif;
	color: #373737;
	font-weight:bold;
	font-size: 14px;
	
}

.company-title {
	font-family: 'Lato Light', sans-serif;
	color: #999999;
	font-weight:bold;
	
}

.work-desc {
	width: 100%;
	background-color: #FFFFFF;
}

.work-image {
	display:inline-block;
	margin:auto;
	width: 30%;
	/*max-width: 200px;
	max-height: 200px;
	/*background-color:#3bfc7f;*/
	text-align: center;
	/*background-color: red;*/
}

.work-description {
	float:left;
	position:relative;
	width: 70%;
	text-align: left;
	padding: 5px;
	background-color: #FFFFFF;
	border-width: 2px;
	border-left-width:2px;
	border-left-color:#43ad66;
	border-left-style: solid;
	/*background-color: red;*/
}

.table {
	display: table; 
}

.tr{ 
    display: table-row;
}
.td{ 
    display: table-cell;
}

/*LOADER ANIMATION*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #8cbcd0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-page {
  /*position: relative;*/
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  -webkit-transition-timing-function: ease;
  animation-name: animatebottom;
  animation-duration: 1s;
  transition-timing-function: ease;
}

@-webkit-keyframes animatebottom {
  from {opacity:0 } 
  to {opacity:1 }
}

@keyframes animatebottom { 
  from{opacity:0 } 
  to{opacity:1 }
}

@-webkit-keyframes animateAbout{
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateAbout { 
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateimg{
  from {-webkit-transform: translateY(10%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateimg { 
  from{transform: translateY(10%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animatefname{
  from {-webkit-transform: translateY(40%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animatefname { 
  from{transform: translateY(40%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animatelname{
  from {-webkit-transform: translateY(60%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animatelname { 
  from{transform: translateY(60%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateAboutTitle {
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateAboutTitle { 
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateParagraphs {
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateParagraphs { 
  from{transform: translateY(40%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateExpTitle {
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateExpTitle { 
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateSkillsTitle {
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateSkillsTitle {
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateCompanyOne {
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateCompanyOne { 
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}



/*media queries*/
@media screen and (max-width: 600px) {

  .divider {
	  padding-top: 5px;
	  margin-bottom: 5px;
  }
  
  #header {
	height: 100vh;
	padding-top: 40vh;
  }
  .title-text {
    font-size: 35px;
  }
  
  .content-text-bold {
	font-size: 16px;
  }
  
  #fname-text{
	  font-size: 40px;
	  padding-left: 7px;
  }
  
  #lname-text{
	  font-size: 50px;
	  margin-top: -20px;
	  text-align: center;
  }
  
  #post-text{
	  font-size: 16px;
  }
  
  p.paragraph-text {
	font-size: 14px;
  }
  
  span.company-text {
	font-size: 20px;
  }
  
  div.position-text {
	font-size: 14px;
  }
  
  .company-address {
	font-size: 12px;
  }
  
  .company-desc {
	font-size: 12px;
  }
  
}

/*media queries*/
@media screen and (min-width: 601px) {
	.divider {
	  padding-top: 5px;
	  margin-bottom: 5px;
	}
	
	#header {
		height: 100vh;
		padding-top: 35vh;
	}
}
@media screen and (max-width: 568px) and (max-height: 320px) {
	.img-container {
		margin-left: -5px;
	}
	
	#header {
		height: 100vh;
		padding-top: 30vh;
	}
	
	#lname-text{
	  font-size: 40px;
	  margin-top: -20px;
	  text-align: center;
  }
}

/*media queries*/
@media screen and (min-width: 768px) {
	.divider {
	  padding-top: 5px;
	  margin-bottom: 5px;
	}
	
	#header {
		height: 100vh;
		padding-top: 40vh;
	}
}

/*media queries*/
@media screen and (min-width: 1024px) {
	.divider {
	  padding-top: 5px;
	  margin-bottom: 5px;
	}
	
	#header {
		height: 100vh;
		padding-top: 45vh;
	}
}