@charset "utf-8";
/* CSS Document */
.header {
	width: 100%;
	max-width: 2500px;
	height: auto;
	max-height: 869px;
	background-image:url(../images/BG.jpg);
	background-size: cover;
	padding-top: 10%;
}

.img-container {
	border-radius: 50%;
	width: 16rem;
    margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-animation-name: animateimg;
  	-webkit-animation-duration: 1s;
  	-webkit-transition-timing-function: ease-in;
  	animation-name: animateimg;
  	animation-duration: 1s;
  	transition-timing-function: ease-in;
}

#fname-text {
	padding-top: 40px;
	text-align:center;
	font-family: 'Lato Light', sans-serif;
	font-size: 60px;
	color: #f7f7f7;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-animation-name: animatefname;
  	-webkit-animation-duration: 1.5s;
  	-webkit-transition-timing-function: ease-in;
  	animation-name: animatefname;
  	animation-duration: 1.5s;
  	transition-timing-function: ease-in;
}

#lname-text {
	text-align:center;
	font-family: 'Lato Medium', sans-serif;
	font-size: 80px;
	color: #8cbcd0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-animation-name: animatelname;
  	-webkit-animation-duration: 1.7s;
  	-webkit-transition-timing-function: ease-in;
  	animation-name: animatelname;
  	animation-duration: 1.7s;
  	transition-timing-function: ease-in;
}

span.post-text {
	padding-top: 20px;
	text-align:center;
	font-family: 'Lato Light', sans-serif;
	font-size: 22px;
	color: #f7f7f7;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.divider {
	width: 68.57%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	border-bottom: 2px solid #939393;
	padding-top: 75px;
}

#aboutme {
	/*background-color: #f5f5f5;*/
	background-color: #23282A;
	width: 100%;
	max-width: 2500px;
	height: auto;
	background-size: cover;
	
}
#aboutContainer{
	-webkit-animation-name: animateAbout;
  	-webkit-animation-duration: 2s;
  	-webkit-transition-timing-function: ease-in;
  	animation-name: animateAbout;
  	animation-duration: 2s;
  	transition-timing-function: ease-in;
}
.text-container {
	width: 68.57%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

span.title-text {
	text-align: left;
	font-family: 'Lato Light', sans-serif;
	/*font-size: 60px;*/
	font-size: 4.39vw;
	color: #8cbcd0;
	padding-bottom: 50px;
}

span.company-text {
	text-align: left;
	font-family: 'Lato', sans-serif;
	/*font-size: 60px;*/
	font-size: 30px;
	color: #8cbcd0;
	margin-bottom: 15px;
}

div.position-text {
	text-align: left;
	font-family: 'Lato Light', sans-serif;
	/*font-size: 60px;*/
	font-size: 18px;
	color: #f5f5f5;
	margin-bottom: 10px;
}

p.paragraph-text {
	font-family: 'Lato Light', sans-serif;
	font-size: 18px;
	color: #939393;
	text-align:justify;
	padding-top: 15px;
}

.company-address {
	font-family: 'Lato Light', sans-serif;
	font-size: 14px;
	color: #939393;
	text-align:justify;
	margin-top: 10px;
}

.company-desc {
	font-family: 'Lato Light', sans-serif;
	font-size: 18px;
	color: #939393;
	text-align:justify;
}

#skills {
	/*background-color: #ffffff;*/
	background-color: #f5f5f5;
	width: 100%;
	max-width: 2500px;
	height: auto;
	background-size: cover;
}

#skills-wrapper {
	width: 100%;
	padding-top: 50px;
	max-width: 2500px;
	height: auto;
}

#experience {
	background-color: #23282A;
	width: 100%;
	max-width: 2500px;
	height: auto;
	background-size: cover;
}

.content-text-bold {
	font-family: 'Lato Bold', sans-serif;
	font-size: 18px;
	color: #939393;
	text-align: left;
	padding-bottom: 10px;
}

#myProgress {
    width: 100%;
    background-color: #f5f5f5;
}
#myBar1, #myBar2, #myBar3, #myBar4, #myBar5, #myBar6, #myBar7, #myBar8, #myBar9, #myBar10, #myBar11, #myBar12, 
#myBar13, #myBar14, #myBar15 {
    width: 1%;
    height: 12px;
    background-color: #8cbcd0;
	text-align: center; /* To center it horizontally (if you want) */
    line-height: 12px; /* To center it vertically */
	font-family: 'Lato Light', sans-serif;
	font-size: 11px;
	color: white;
	margin-bottom: 20px;
}

.button {
    background-color: #8cbcd0;
    border: none;
	font-family: 'Lato Bold', sans-serif;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
	margin-bottom:20px;
}

.clear {
    clear: both;
}

.column {
    flex: 50%;
}

.exp-container{
	display:flex;
}

#latest {
	margin-top: 50px;
}

.columnleft {
    flex: 3%;
    vertical-align: center;
    /*padding: 10px;*/
    /*word-break:break-all;*/
}

.columnmid {
    flex: 30%;
    padding: 10px;
    word-break:break-all;
    margin:auto;
    /*background-color:#05FFF0;*/
}

.columnright {
	background-color:#F5F5F5;
    flex: 67%;
    padding: 20px;
    word-break:break-all;
    border-radius: 20px;
    margin-top: 50px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #3bfc7f;
  border-radius: 50%;
  position:relative;
  margin:auto;
  z-index:2;
}

.verticalLine {
  	width: 50%;
  	max-width: 5px;
  	background-color: #f5f5f5;
  	height: 100%;
  	margin: auto;
  	z-index:3;
}

#aboutTitle {
	-webkit-animation-name: animateAboutTitle;
  	-webkit-animation-duration: 1.4s;
  	/*-webkit-transition-timing-function: ease;*/
  	animation-name: animateAboutTitle;
  	animation-duration: 1.4s;
  	/*transition-timing-function: ease;*/
  	margin-bottom: -30px;
}

#paragraphs, #paragraphs2 {
	-webkit-animation-name: animateParagraphs;
  	-webkit-animation-duration: 1.5s;
  	animation-name: animateParagraphs;
  	animation-duration: 1.5s;
}


/*LOADER ANIMATION*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #8cbcd0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-page {
  /*position: relative;*/
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  -webkit-transition-timing-function: ease;
  animation-name: animatebottom;
  animation-duration: 2s;
  transition-timing-function: ease;
}

@-webkit-keyframes animatebottom {
  from {opacity:0 } 
  to {opacity:1 }
}

@keyframes animatebottom { 
  from{opacity:0 } 
  to{opacity:1 }
}

@-webkit-keyframes animateAbout{
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateAbout { 
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateimg{
  from {-webkit-transform: translateY(10%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateimg { 
  from{transform: translateY(10%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animatefname{
  from {-webkit-transform: translateY(40%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animatefname { 
  from{transform: translateY(40%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animatelname{
  from {-webkit-transform: translateY(60%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animatelname { 
  from{transform: translateY(60%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateAboutTitle{
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateAboutTitle { 
  from{transform: translateY(20%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}

@-webkit-keyframes animateParagraphs{
  from {-webkit-transform: translateY(20%); opacity:0 } 
  to {-webkit-transform: translateY(0); opacity:1 }
}

@keyframes animateParagraphs { 
  from{transform: translateY(40%); opacity:0 } 
  to{transform: translateY(0); opacity:1 }
}










/*media queries*/
@media screen and (max-width: 600px) {
  span.title-text {
    font-size: 35px;
  }
}